{{#each this}}
        <div class="card" style="background-image: url({{img}});">
          <h3 class="card__title">{{mark}}</h3>
          <p class="card__text">{{about}}</p>
        </div>
{{/each}}