{{#each this}}  


        <a href="../HTML/car.html" class="click_car" data-car="{{car}}">
               
                <div class="card-backgrounds models owned" style="background-image: url({{cover}});">
                <span class="filter"></span>
                <div class="price-tag-backgrounds">{{prise}}</div>
                <div class="card-content-backgrounds">{{name}}</div>
                </div>
        <a>

{{/each}}