<div class="container footer-container">
              <div class="col-3">
                  <img src="../src/logo.png" alt="">
                  <br>
                  <div class="social">
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                      <a href="#"><i class="fa-brands fa-twitter"></i></i></a>
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></i></a>
  
                  </div>
                  <br>
                  <span class="address">Будьте вільними
                  </span>
              </div>
              <div class="col-3">
                  <h6>Про нас</h6>
                  <p>
                     Автосалон "Autdoor" – це місце, де ваші мрії про свободу на дорогах стають реальністю. Ми пропонуємо широкий асортимент автомобілів, від компактних міських моделей до потужних позашляховиків, готових до подорожей на великі відстані. Наші консультанти допоможуть вам обрати ідеальне авто, яке відповідатиме вашому стилю життя та відкриє нові горизонти для подорожей. Сучасний сервіс та постійні акції – все це робить наш автосалон ідеальним місцем для тих, хто прагне відкривати світ на власних колесах.
                      <br>
                      <br>
                     AUTDOOR
                  </p>
              </div>
              <div class="col-3">
                  <h6>Допомога</h6>
                  <a href="#"><i class="fa-brands fa-whatsapp"></i>Звертайтесь на почту</a>
  
              </div>
              <div class="col-3">
                  <h6>Контакт</h6>
                  <a href="#">Aut_Doore@gmail.com</a>
              </div>
          </div>
          <div class="copyright">
              Copyright &#169; 2024 | Footerpen All rights reserved
          </div>