
        <img src="../src/logo.png" class="header_img">
      <a href="/index.html" class="logo">
        <h1 class="logo">Outdoor</h1>
      </a>
          <a href="../HTML/save.html" class="img_basket">
            <img src="../src/fa--shopping-basket.png"  width="40" height="40" >
          </a>
          
          
      
