{{#each this}}   
    
        <div class="card-backgrounds models owned">
        <span class="filter"></span>
        <div class="price-tag-backgrounds">{{mark}}</div>
        <div class="card-content-backgrounds">{{about}}</div>
        </div>
{{/each}}