{{#each this}}   
    
        <div class="card-backgrounds models owned"
                 style="background-image: url({{img}});
                        background-size:{{size}}px;
                        background-position:center;
                        background-repeat:no-repeat;                  ">
        <span class="filter"></span>
        <div class="price-tag-backgrounds mark">{{mark}}</div>
        <div class="card-content-backgrounds">{{about}}</div>
        </div>
{{/each}}