
body{
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background: #c0a245 !important;
}
header{
    display: flex;
    flex-direction: row;
    background: #d5c183
}




/* ПОЧАТОК КАРУСЕЛЬ ШОЛОВНОЇ СТОРІНКИ */  
.defender_corusel{
    height: 700px !important;
    width: 100%;
/* КІНЕЦЬ КАРУСЕЛЬ ШОЛОВНОЇ СТОРІНКИ */  




/* ПОЧАТОК 3D МОДЕЛЬ  */  /* ПОЧАТОК 3D МОДЕЛЬ  */ 
}
.thred_model{
    margin-top: 10%;


  /* Сброс отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;


    }
    
/* Скрываем значок мобильного телефона */
    #ar-prompt {
    display: none;
    }
    
/* Делаем 3D плеер на весь браузер */
    model-viewer {
    height: 100vh;
    width: 100%;
    }  
}
/* КІНЕЦЬ 3D МОДЕЛЬ */  /* КІНЕЦЬ 3D МОДЕЛЬ */ 


 /* ЛОГО ПОЧАТОК */ 
.header_img {
    margin-bottom: 1%;
    margin-right: 4%;
    width: 100px;
    height: 100px;
    box-shadow: 10px 5px 5px black;
    border-radius: 500px;
    margin-top: 2%;
    padding: 0;
  }

.logo{
    margin-top: 4%;
}
/* ЛОГО КІНЕЦЬ */ 


/* ПОЧАТОК ПРОЗОРОЇ КНОПКИ */
.btn{
    outline: none;
    border: 0;
    background: transparent;
    color: #c0a245 ;
    text-decoration: none;
    font-size: 70%;

}

.button{
    content: "";
    background: inherit;
    position: absolute;
    box-shadow: inset 0 0 0 3000px rgba(245, 204, 92, 0.3);
    filter: blur (10px);
    margin-top: 7%;
    margin-left: 7%;
    width: 10%;
    padding: 1% 5%;
    border-radius: 200px;
    border: 1px solid #ffffff;
    color: #000000;
    font-size: xx-large;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px; 
    text-transform: capitalize;
    /* background-image: url(/image/Button.jpg) ; */
    width: 270px;
    
}
/* КІНЕЦЬ ПРОЗОРОЇ КНОПКИ */


/* ПОЧАТОК НАВІГАЦІЯ HEADER */
.menu{
    padding-top: 6%;
    display: flex;
    height:10%;
    padding: 5%px 0px;
    justify-content: center;
    align-items: center;
    gap: 7%;
    flex-grow: 1;
}

.menu_elements{
    color: #000000;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
    line-height: 8%; /* 120% */
    text-transform: uppercase;
    text-decoration: none;
    font-weight:900;
}
/* КІНЕЦЬ НАВІГАЦІЯ HEADER */

.img_basket{
    position: relative;
    left: 73%;
    top: 67px;
}
/* картка *//* картка *//* картка *//* картка *//* картка *//* картка */
.card{
    box-shadow: 10px 5px 5px rgb(76, 72, 72);
}
.cards{
    display: flex;
   justify-content: space-evenly;
   margin-top: 10%;
   
}

.card {
  width: 350px;
  height: 450px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 150px 0 0 20px;
  display: flex;
  flex-direction: column;
  transition: transform 1s;
  position: relative;
  /* background-image: url(https://i.pinimg.com/236x/3b/1c/dc/3b1cdc25ae9b69d82bd7fae1f506ad3b--a-bowl-skin-tips.jpg); */
  background-position: bottom -20px right -70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__title {
  font-family: "Jost", sans-serif;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  margin: 0;
  transform: translateY(230px);
  transition-duration: 1s;
  z-index: 1;
}
.card__text {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  width: 65%;
  margin-top: 25px;
  transform: translateY(230px);
  transition-duration: 1s;
  opacity: 1;
  z-index: 1;
}
.card__plus {
  transition-duration: 1s;
  z-index: 1;
  transform: translateY(230px);
  opacity: 1;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.card__plus::before {
  opacity: 0.8;
  content: "";
  background-image: url(https://icon2.cleanpng.com/20180508/ztw/kisspng-creative-commons-license-share-alike-copyright-5af1a52b782003.149762941525785899492.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.card::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.55);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 2rem;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  z-index: 0;
  transition: 1s;
}
.card:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6) inset;
  cursor: pointer;
}
.card:hover::after {
  opacity: 0;
  transition: 1s;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.card:hover .card__title {
  transform: translateY(0);
  opacity: 1;
  transition-duration: 1s;
}
.card:hover .card__text {
  transform: translateY(0);
  opacity: 0.8;
  transition-duration: 1s;
}
.card:hover .card__plus {
  transform: translateY(0);
  opacity: 0.8;
  transition-duration: 1s;
}
.card:hover .card__plus:hover {
  opacity: 1;
}



/* СТИЛІ ДЛЯ ALL_PRODUCT CARDS */ /* СТИЛІ ДЛЯ ALL_PRODUCT CARDS */

  .container-backgrounds {
  max-width: 100%;
  position: relative;
  top: 120px;
  margin: 0 auto;
  padding-bottom: 10px ;
  box-sizing: border-box;
  
  }
  .cards-container-backgrounds {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  min-height: 440px;
  }
  .card-backgrounds {
  max-width: 350px;
  max-height: 196px;
  min-width: 350px;
  min-height: 196px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.725);
  transition: transform 0.3s ease;
  }
  
  .card-content-backgrounds {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity .3s ease;
  }
  .filter{
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      filter: blur(5px);
  }
    .filter {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: #00000096;
      transition: opacity .4s ease;
  }
  .card-backgrounds:hover .filter {
  opacity:1;
  }
  
  .card-backgrounds:hover .card-content-backgrounds {
  opacity: 1;
  }
  
  .price-tag-backgrounds {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 15px;
  border-radius: 7px 15px;
  color: #fff;
  background-color: #75D12A;
  }
  .owned{
  border: 3px solid #000000;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.7);
  
  }
  .owned-tag-backgrounds {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
  padding: 5px;
  border-radius: 7px 15px;
  color: #fff;
  background-color: #B4F003;
  }
  .one{
  background: url(src/nissan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:210px;
  
  }

  .two{
  background: url(src/audi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:300px;
  }

  .three{
  background: url(src/honda.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size:200px;
  }
  .four{
  background: url(src/BMW.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:270px;
  }
  .five{
  background: url(src/mercedes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:200px;
  }
  .six{
  background: url(src/Lamborghini.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:160px;
  }
  .seven{
    background: url(src/porsche.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:190px;
  }
  .eight{
    background: url(src/toyota.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:400px;
  }
  /* .nine{
    background: url(src/Lamborghini.png)
  }
  .ten{
    background: url(src/Lamborghini.png)
  } */
 
/* КІНЕЦЬ СТИЛІ ДЛЯ ALL_PRODUCT CARDS */ /* КІНЕЦЬ СТИЛІ ДЛЯ ALL_PRODUCT CARDS */

/* Початок FOOTER */ 

footer{
  margin-top: 250px;
  background: #333333;
  color: white;
  position: relative;
  width: 100%;
}
footer img{
  width: 250px;
  margin-top: 43px;
}
footer span{
  margin-top: 25px;
}
footer h6{
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 50px;
}
footer .col-3{
  padding-left: 35px;
}
footer a{
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
footer a:hover{
  color: #f5871f;
}
footer .fa-whatsapp{
  margin-right: 5px;
}
.copyright{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  height: 45px;
  background-color: #242424;
  padding-top: 15px;
}
.footer-container{
  display: flex;
}
.social {
  display: flex;
  align-items: center;
  margin-top: 13px;
  padding-left: 5px;
}
.social i {
  color: #fff;
  font-size: 17px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  footer .col-3{
   padding-left:0;
}
.footer-container{
    flex-direction: column;
}
.footer-container .col-3{
    width: 100% !important;
}
.copyright {
      font-size: 11px;
  }
}

/* Кінець FOOTER */ 